---
---

@import "{{ site.theme }}";

/* These were lost after customizing default.html */
#skip-to-content {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px
}

#skip-to-content:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: #e19447;
    outline: thick solid #e19447
}

/* Custom stats styles */
.btn.stat {
    min-width: 30%;
    color: #606c71;
    border-color: rgba(0,0,0,0.2);
    text-align: center;

    span {
        font-size: 200%;
        display: block;
    }
}
